div.logo{
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
div.logo img{
  object-fit: contain;
  background-color: var(--white);
  margin-left: 55px;
  margin-top: 13px;
}

div.footerLogo{
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

div.footerLogo img{
  object-fit: contain;
  background-color: var(--white);
  margin-left: 41px;
  margin-top: 20px;
}
