body{
  margin:0;
  padding:0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color:#000000;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.index-header{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #f4f7f9;
}

.hello-search-buy{
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.hello-search-buy a{
  color: #ffffff;
}

.logo-img{
  background-color:#ee3643;
}

.logo-img:hover,
.logo-img:focus{
  background-color:#ca2c37
}

.logo-img:active{
  background-color:#ba2732
}

.search input{
  font: inherit;
  background-color: inherit;
  border:none;
}

.search input::-webkit-input-placeholder {
   color: white;
}
.search input::-moz-placeholder {
   color: white;
}

.search input:hover{
  font: inherit;
  background-color: #212a3a;
}

.search input:focus{
  font: inherit;
  color:#000000;
  background-color: #ffffff;
}

.hello-search-buy-user-choiсe:hover,
.hello-search-buy-user-choiсe:focus{
  color: #ffffff;
  background-color: #212a3a;
}

.hello-search-buy-user-choiсe:active{
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.button.buy{
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #63a63e;
}

.button.buy:hover,
.button.buy:focus
{
  color: #ffffff;
  background-color: #5fbb2d;
}

.button.buy:active
{
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534
}

.index-header h1{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.fast-contacts{
  font-size: 14px;
  color:#32425c;
  text-align: center;
}

.fast-contacts a{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border:1px solid white;
}


.authorization a{
  color: #000000;
  background-color: white;
}

.main-nav{
  color: #ffffff;
  background-color: #293449;
}

.main-nav a{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #293449;
}

.main-nav a:hover,
.main-nav a:focus
{
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-nav a:active{
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.our-offers{
  background-color: #ffffff;
}

.our-offers-materials,
.our-offers-tools,
.our-offers-technique,
.our-offers-sale,
.our-offers-delivery{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;

  background-color: #ffbf47;
}

.our-offers-tools{
  background-color: #3bbce3;
}

.our-offers-technique{
  background-color: #dc91d8;
}

.our-offers-sale{
  background-color: #8ed78f
}

.our-offers-delivery{
  background-color: #ffc047;
}

.our-offers-what-we-sell a,
.our-offers-privileges a{
  color:#ffffff;
  background-color: rgba(0,0,0,0.1);
}

.our-offers-what-we-sell a:hover,
.our-offers-what-we-sell a:focus,
.our-offers-privileges a:hover,
.our-offers-privileges a:focus{
  background-color: rgba(0,0,0,0.2);
}

.our-offers-what-we-sell a:active,
.our-offers-privileges a:active{
  background-color: rgba(0,0,0,0.3);
}

.our-offers-slider-drills{
  font-family: "Cuprum", Arial, sans-serif;
  color:#ffffff;
  background-image: url("../img/mandrill.png");
}

.our-offers-slider-drills,
.our-offers-slider-perforators{
  font-size: 18px;
  line-height: 24px;
}

.our-offers-slider-headline{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.our-offers-slider-drills a,
.our-offers-slider-perforators a{
  font-size: 14px;
  line-height: 18px;
  color:#ffffff;

  background-color: #ee3643;
}

.our-offers-slider-drills a:hover,
.our-offers-slider-drills a:focus,
.our-offers-slider-perforators a:hover,
.our-offers-slider-perforators a:focus{
  color:#ffffff;
  background-color: #ca2c37;
}

.our-offers-slider-drills a:active,
.our-offers-slider-perforators a:active{
  color:#ffffff;
  background-color: #ba2732;
}

.our-offers-slider-left,
.our-offers-slider-right{
  width:30px;
  height:50px;
  border:none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  font-size: 0;
}

.our-offers-slider-right{
  background-image: url("../img/icon-right.svg");
}

.offers-slider-btn-perforators,
.offers-slider-btn-drills{
  background-color: #ffffff;
}

.offers-slider-btn-perforators:active,
.offers-slider-btn-drills:active{
  background-color: #ee3643;
}



/*сокрытие элементов которые должны быть видны для роботов и читалок*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
